[Unit]
Description=Weather Station 2 - Blynk

[Service]
User=weather_station
ExecStart=/home/weather_station/.pyenv/versions/3.7.5/bin/python /home/weather_station/weather_station2/blynk-main.py
Environment=PYTHONUNBUFFERED=1
Environment=PYENV_VERSION=3.7.5
Restart=on-failure

[Install]
WantedBy=multi-user.target

